@media screen and (min-width: 750px) and (max-width: 1024px) { 
    
    .home-overly {
        height: 143%;
    }

    .welcome h1 {
        font: 800 60px/1.2 Raleway, sans-serif;
    }
    
    .start {
        font-size: 24px;
    }
    
    .scroll-down {
        left: 47%;
        margin-bottom: 11px;
    }
    
     .first-title {
         display: none;
     }
    
    .block-title-2 {
    font-weight: 800;
    font-size: 30px;
    margin: 0 0 30px;
    display: block;
    }

    .flex-container-1 .flex-item {
        width: 100%;
    }
    
    .team-info .img {
    float: none;
    }

    .team-info>div {
    width: 245px;
    }

    .maps-wrap iframe {
    display: none;
    }

    .form-wrap{
    width: auto;
    float: none;
    position: inherit;
    }

    .home-overly {
        height: 143%;
    }

    .welcome h1 {
        font: 800 60px/1.2 Raleway, sans-serif;
    }
    
    .start {
        font-size: 24px;
    }
    
    .scroll-down {
        left: 47%;
        margin-bottom: 11px;
    }

     .first-title {
         display: none;
     }
    
    .block-title-2 {
    font-weight: 800;
    font-size: 30px;
    margin: 0 0 30px;
    display: block;
    }

    .flex-container-1 .flex-item {
        width: 100%;
    }
    
    .team-info .img {
    float: none;
    }

    .team-info>div {
    width: 245px;
    }

    .maps-wrap iframe {
    display: none;
    }

    .form-wrap{
    width: auto;
    float: none;
    position: inherit;
    }
    
    .form-style-9 {
    width: 100%;
    }

}