/*GENERAL BEGIN*/
* {
	margin: 0;
	padding: 0;
}

ul {list-style: none;}

a {text-decoration: none;}

@font-face {
	font-family: OpenSans;
	src:url(../fonts/OpenSans.ttf);
}

body {
	font: 13px OpenSans, Tahoma, sans-serif;
}

/*GENERAL END*/


/*HEADER*/

.home, .our-services, .works, .our-team, .contacts {
    min-height: 645px;
}

.home {
    background: url(../img/cover.jpg) no-repeat 50% 0px;
    background-color: #222;
    background-attachment: fixed;
    background-size: cover;
}

.home-overly {
	background-color: rgba(44, 62, 80, 0.3);
    background-image: url(../img/pattern.png);
    background-repeat: repeat;
    left: 0;
    position: absolute;
    top: 0;
    width:100%;
    height: 100%;
}

.welcome {
	position: absolute;
    width: 100%;
    top: 35%;
    left: 0;
    text-align: center;
}

.welcome h1 {
	text-transform: uppercase;
    letter-spacing: 5px;
    margin: 5px 0 5px;
    font: 700 40px/1.2 Raleway, sans-serif;
    font-weight: 800;
    color: #fff;
}

.start {
    font-size: 18px;
    font-style: normal;
    text-transform: none;
    margin: 15px 0;
    color: #fff;
}

.scroll-down {
    position: absolute;
    left: 48%;
    bottom: 25px;
    border: 2px solid #fff;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-left: -15px;
    display: block;
    z-index: 10;
    text-align: center;
}

.scroll-down span {
    color: #fff;
}

.our-services {
	position: relative;
	background: #f5f5f5;
}
.navigation {
    width: 100%;
    background: #fff;
    padding: 0 50px;
    box-sizing: border-box;
    height: 40px;
    border-bottom: 1px solid silver;
}

.navbar-header {
	display: block;
	float: left;
}

.navbar-header a {
	font-size: 20px;
	line-height: 40px;
}

nav {
	max-width: 900px;
	margin-left: 713px;
}

.menu li {
	float: left;
	margin-left: 5px;
}

.menu a {
    line-height: 40px;
    font-size: 11px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #222;
    padding: 15px;
}

.flex-container-1 {
    display: flex;
    flex-wrap: wrap;
    margin-top: 70px;
    text-align: center;
}

.flex-item-1 {
    width: 262px;
    height: 258px;
    background-color:#fff;
    margin: 0 37px;
}

.flex-item-1 h3{
    font-size: 13px;
    letter-spacing: 1px;
    margin: 0 0 15px;
    color: #000;
    text-transform: uppercase;
    padding: 30px;
}

.block-title {
    font-weight: 800;
    font-size: 30px;
    margin: 0 0 30px;
}

.block-line {
    background: rgba(135, 135, 135, 0.5);
    width: 100px;
    height: 1px;
    margin: 30px auto;
}

.pfblock-subtitle {
    font-style: normal;
    font-size: 18px;
}

.description {
    margin: 50px 30px 0;
    text-align: center;
}

.flex-container {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    position: relative;
}

.flex-item {
    width: 400px;
    margin: 10px 22px;
}

.our-team {
    background-color:#3498db
}

.team-block li {
    float: left;
    text-decoration: none;
    margin-top: 150px;
    margin-right: 200px;
}

.member-1 {
    width: 200px;
    height: 200px;
    background: url(../img/member-1.jpg) no-repeat center;
    border: 1px solid #939393;
    border-radius: 100px;
    margin-left: 100px;
}   

.member-2 {
    width: 200px;
    height: 200px;
    background: url(../img/member-2.jpg) no-repeat center;
    border: 1px solid #939393;
    border-radius: 100px;
    margin: 20px;
}   

.member-3 {
    width: 200px;
    height: 200px;
    background: url(../img/member-3.jpg) no-repeat center;
    border: 1px solid #939393;
    border-radius: 100px;
    margin: 20px;
}   

footer {
    background: #222;
    text-align: center;
    padding: 40px 0;
    color: #FFF;
}

.social-links {
    list-style: none;
    padding: 0;
    margin: 0 0 20px;
}

.social-links li {
    display: inline-block;
}

.social-links li a {
    width: 27px;
	height: 27px;
	display: block;
    background: url(../img/social-icons.png) no-repeat 0 0;
}

.social-links li a.vk {
    background-position: -106px -29px;
}

.social-links li a.fb {
     background-position: -26px 0;
}
.social-links li a.google {
     background-position: -52px -30px;
}
.social-links li a.tw {
     background-position: 0 0;
}
.social-links li a.preent {
     background-position: -80px 0;
}
